.metadata/.plugins/org.eclipse.core.resources/.history/
.metadata/.plugins/org.eclipse.m2e.core/nexus/
amisystemlib/bin/
amisystemlib/logs/
.metadata/
.recommenders/
amisystemlib/activemq-data/
amigui/target/
amisystemlib/data/2016-08-10 02-41-52 messagedata.db
amisystemlib/data/2016-09-13 08-54-59 messagedata.db
amisystemlib/target/test-classes/saoviet/amisystemlib/AppTest.class
